img {
  width: 64px;
  height: auto;
}

#gleis {
  position: relative;
  width: 32px;
  height: 32px;
}

#main_image {
  width: 100%;
  height: 100%;
  background-image: url("../assets/img/weiche_von_links_nach_rechts_unten.png");
  background-size: cover;
}

#weichenstellung_rechts {
  position: absolute;
  bottom: 14px;
  right: 0px;
  width: 10px;
  height: 4px;
  background-image: url("../assets/img/Markierung-WeicheGeradeRechts.png");
  background-repeat: no-repeat;
}

#weichenstellung_unten {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 12px;
  height: 12px;
  background-image: url("../assets/img/Markierung-WeicheSchraegRechtsUnten.png");
  background-repeat: no-repeat;
}
