#schaltplanDiv {
  position: absolute;
  top: 0%;
  right: 20%;
}

#gleis {
  position: relative;
  width: 32px;
  height: 32px;
}

#weichenstellung_rechts {
  position: absolute;
  bottom: 14px;
  right: 0px;
  width: 10px;
  height: 4px;
  background-image: url("../assets/img/Markierung-WeicheGeradeRechts.png");
  background-repeat: no-repeat;
}

#weichenstellung_unten {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 12px;
  height: 12px;
  background-image: url("../assets/img/Markierung-WeicheSchraegRechtsUnten.png");
  background-repeat: no-repeat;
}
