<div id="schaltplanDiv">
  <tr *ngFor="let bausteinReihe of schaltplan">
    <td *ngFor="let baustein of bausteinReihe">
      <div id="gleis">
        <div id="main_image">
          <img [src]=[baustein.bildAdresse] alt="">
        </div>
        <div id="weichenstellung_rechts">
          <!--<img src="../assets/img/Markierung-WeicheGeradeRechts.png" alt="">-->
        </div>
        <!-- <div id="weichenstellung_unten">
          <img src="../assets/img/Markierung-WeicheSchraegRechtsUnten.png" alt=""> 
        </div>-->
      </div>

    </td>
  </tr>
</div>

<button (click)="testSerialConnection()">Intellibox test</button>

